{% extends 'astros/base.html' %}

{% block contenido %}
<br>
<br>
<br>
<h4 >
    
    <p align="left"> 
    Mi nombre es Carlos tengo 40 años, recido en la Ciudad Autonoma de Buenos Aires y estoy aprendiendo python.
    
    Soy Licenciado en Sistemas de Información y trabajo como Analista funcional web / QA / QC.

    Mi interes por aprender Python se debe a que me gusta aprender de todo lo que esté relacionado a la informatica.

    Este es el blog desarrollado en clase... Saludos, 
    </p>

</h4>
<br>
<br>
<br>
{% endblock %}